/* ===================================================== *
 * =================== GOOGLE FONTS ==================== *
 * ===================================================== */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap');





/* ===================================================== *
 * =================== VARIABLE CSS ==================== *
 * ===================================================== */
 :root {
    --header-height: 3.5rem;

    /* couleur en mode HSL(hue, saturation, light) */
    --first-color: hsl(230, 75%, 56%);
    --second-color: hsl(230, 75%, 45%);
    --title-color: hsl(230, 75%, 15%);
    --text-color: hsl(230, 12%, 40%);
    --body-color: hsl(230, 100%, 98%);
    --container-color: hsl(230, 100%, 97%);
    --border-color: hsl(230, 25%, 80%);
    --alert-danger-color: hsl(0, 96%, 32%);
    --alert-success-color: hsl(120, 92%, 26%);


    /* typography (.5rem = 8px | 1rem = 16px) */
    --body-font: 'Syne', sans-serif;
    --h1-font-size: 1rem;
    --h2-font-size: 1.25rem;
    --h2-font-size-alt: 1.5rem;
    --normal-font-size: .938rem;

    /* font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* margin top */
    --mt-25: 25px;
    --mt-50: 50px;

    /* margin bottom */
    --mb-1: 1rem;
    --mb-2: 2rem;

    /* padding */
    --padding-2: 2rem;
}






/* ===================================================== *
 * ======================= BASE ======================== *
 * ===================================================== */
html{
    scroll-behavior: smooth;
}

body, input, button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    color: var(--text-color);
}

body > * {
    max-width: 1200px;
    max-height: 1200px;
    margin: 0 auto;
}

input, button {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main.container {
    margin-top: var(--mt-50);
    max-width: 1200px;
}






/* ===================================================== *
 * ======================= ERROR ======================= *
 * ===================================================== */
.alert-error {
    padding: 1rem;
    margin-bottom: var(--mb-2);
    border-radius: 4px;
    font-size: var(--normal-font-size)
}

.alert-error {
    background-color: var(--alert-danger-color);
    color: #fff;
}






/* ===================================================== *
 * =================== HEADER & NAV ==================== *
 * ===================================================== */
.header {
    background-color: var(--container-color);
    height: var(--header-height);
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav__menu {
    display: flex;
    justify-content: center;
    margin-left: 0;
}

.nav__list {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav__item {
    display: inline-block;
}

.nav__link {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    padding: .5rem 1rem;
    border-radius: 4px;
}

.nav__link:hover {
    background-color: var(--first-color);
    color: #fff;
}






/* ===================================================== *
 * ====================== FOOTER ======================= *
 * ===================================================== */
.footer {
    background-color: var(--container-color);
    height: var(--header-height);
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}






/* ===================================================== *
 * ==================== FORMULAIRE ===================== *
 * ===================================================== */
.register-form, .login-form {
    width: 40%;
}

.register, .login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--container-color);
}

.register h2, .login h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
    text-align: center;
}

.register label, .login label {
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    margin-bottom: .5rem;
    display: block;
}

.register input, .login input {
    width: 100%;
    padding: .8rem 1rem;
    margin-bottom: var(--mb-1);
    font-size: var(--normal-h1-font-size);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: border .3s ease, box-shadow .3s ease;
}

.register input:focus, .login input:hover {
    border-color: var(--first-color);
    box-shadow: 0 0 5px rgba(48, 85, 255, 0.3);
    outline: none;
}

.btn-register, .btn-login {
    width: 107%;
    padding: .8rem 1rem;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-h1-font-size);
    font-weight: var(--font-medium);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-register:hover, .btn-login:hover {
    background-color: var(--second-color);
}






/* ===================================================== *
 * ===================== HOMEPAGE ====================== *
 * ===================================================== */
.grids-list.section {
    background-color: var(--container-color);
}

.grids-list.section h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
    text-align: center;
}

.grids-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: var(--mt-25);
    text-align: center;
}

.grids-list-table th, .grids-list-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

.grids-list-table thead {
    background-color: var(--container-color);
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.grids-list-table td {
    color: var(--text-color);
}

.grids-list-show, .grids-list-del {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: var(--first-color);
    color: #fff;
    font-size: .875rem;
    border-radius: 4px;
    text-align: center;
}

.grids-list-show:hover {
    background-color: var(--second-color);
}

.grids-list-del:hover {
    background-color: var(--alert-danger-color);
}






/* ===================================================== *
 * ===================== DRID SHOW ===================== *
 * ===================================================== */
.grid-show.section {
    margin: 2rem auto;
    padding: var(--padding-2);
    background-color: var(--container-color);
}

.grid-show a {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    text-decoration: underline;
}

.grid-show a:hover {
    color: var(--second-color);
}

.grid-show h2 {
    font-size: var(--h2-font-size-alt);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.grid-show p {
    font-size: var(--h1-font-size);
    color: var(--text-color);
    margin-bottom: var(--mb-1);
}

.grid-show-container {
    margin-top: 2rem;
}

.grid-show-container-table {
    border-collapse: collapse;
    margin-bottom: var(--mb-2);
}

.grid-show-container-table th, .grid-show-container-table td {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid var(--border-color);
    padding: 0;
}

.grid-show-container-table th {
    background-color: var(--container-color);
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.grid-show-container-table td {
    background-color: #fff;
}

.grid-show-container-table input {
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: var(--h1-font-size);
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}

.grid-show-save {
    padding: 1rem 2rem;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

.grid-show-save:hover {
    background-color: var(--second-color);
}

.grid-show-definitions h4 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}






/* ===================================================== *
 * =================== DRID SAVE USER ================== *
 * ===================================================== */
.grid-save-user.section {
    margin: 2rem auto;
    padding: var(--padding-2);
    background-color: var(--container-color);
}

.grid-save-user h2 {
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.saves-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.saves-list-table th, .saves-list-table td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid var(--border-color);
}

.saves-list-table th {
    background-color: var(--container-color);
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.saves-list-table td {
    background-color: white;
    color: var(--text-color);
}

.saves-list-table td a {
    color: var(--first-color);
    font-weight: var(--font-medium);
    transition: color .3s ease;
}

.saves-list-table td a:hover {
    color: var(--second-color);
}

.saves-list-table td, .saves-list-table th {
    text-align: center;
}

.save-list-show, .save-list-del {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: var(--first-color);
    color: #fff;
    font-size: .875rem;
    border-radius: 4px;
    text-align: center;
}

.save-list-show:hover {
    background-color: var(--second-color);
}

.save-list-del:hover {
    background-color: var(--alert-danger-color);
}





/* ===================================================== *
 * ==================== DRID CREATE ==================== *
 * ===================================================== */
.grid-create.section {
    margin: 2rem auto;
    padding: var(--padding-2);
    background-color: var(--container-color);
}

.grid-create h2 {
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.grid-create-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grid-create-form label {
    font-weight: var(--font-medium);
    color: var(--text-color);
    margin-bottom: .5rem;
}

.grid-create-form input, .grid-create-form select {
    padding: .8rem 1rem;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: border .3s ease, box-shadow .3s ease;
}

.grid-create-form input:focus, .grid-create-form select:focus {
    border-color: var(--first-color);
    box-shadow: 0 0 5px rgba(48, 85, 255, 0.3);
    outline: none;
}

.grid-create-btn {
    padding: 1rem;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.grid-create-btn {
    background-color: var(--second-color);
}

.grid-create-form a {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    text-decoration: underline;
}

.grid-create-form a:hover {
    color: var(--second-color);
}






/* ===================================================== *
 * ================== DRID CREATE CELL ================= *
 * ===================================================== */
.grid-create-cell.section {
    margin: 2rem auto;
    padding: var(--padding-2);
    background-color: var(--container-color);
}

.grid-create-cell h2 {
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.grid-create-cell-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grid-create-cell-form label {
    font-weight: var(--font-medium);
    color: var(--text-color);
}

.grid-create-cell-form textarea {
    padding: 1rem;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: border .3s ease, box-shadow .3s ease;
    resize: none;
}

.grid-create-cell-form textarea:focus {
    border-color: var(--first-color);
    box-shadow: 0 0 5px rgba(48, 85, 255, 0.3);
    outline: none;
}

.grid-create-cell-btn {
    padding: 1rem;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.grid-create-cell-btn:hover {
    background-color: var(--second-color);
}






/* ===================================================== *
 * ================== DRID CREATE DEF ================== *
 * ===================================================== */
.grid-create-def.section {
    margin: 2rem auto;
    padding: var(--padding-2);
    background-color: var(--container-color);
}

.grid-create-def h2 {
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.grid-create-def-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.def-group {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background-color: var(--body-color);
}

.def-group label {
    font-weight: var(--font-medium);
    color: var(--text-color);
}

.def-group input {
    padding: .8rem 1rem;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: border .3s ease, box-shadow .3s ease;
}

.def-group input:focus {
    border-color: var(--first-color);
    box-shadow: 0 0 5px rgba(48, 85, 255, 0.3);
    outline: none;
}

.def-group-radio {
    display: flex;
    gap: 1rem;
}

.def-group-radio input[type="radio"] {
    margin-right: .5rem;
}

.def-group-radio label {
    margin-right: 1rem;
    cursor: pointer;
}

.grid-create-def-btn {
    padding: 1rem;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.grid-create-def-btn:hover {
    background-color: var(--second-color);
}

#add-new-def-btn {
    padding: 1rem;
    background-color: var(--alert-success-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 1.5rem;
}

#add-new-def-btn:hover {
    background-color: hsl(120, 75%, 40%);
}






/* ===================================================== *
 * ==================== GRID SAVE MSG =================== *
 * ===================================================== */
.grid-save.section {
    margin: 2rem auto;
    padding: var(--padding-2);
    background-color: var(--container-color);
}





/* ===================================================== *
 * ===================== USERS LIST ==================== *
 * ===================================================== */
.users-list.section {
    margin: 2rem auto;
    padding: var(--padding-2);
    background-color: var(--container-color);
}

.users-list h2 {
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.users-list p {
    font-size: var(--h1-font-size);
    color: var(--text-color);
}

.users-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.users-list-table th, .users-list-table td {
    padding: 1rem;
    text-align: left;
    border: 1px solid var(--border-color);
}

.users-list-table th {
    background-color: var(--container-color);
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.users-list-del {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: var(--first-color);
    color: #fff;
    font-size: .875rem;
    border-radius: 4px;
    text-align: center;
}

.users-list-del:hover {
    background-color: var(--alert-danger-color);
}

.users-list-link {
    color: var(--first-color);
    font-weight: var(--font-medium);
    text-decoration: underline;
}







/* ===================================================== *
 * ========================= 404 ======================= *
 * ===================================================== */
.not-found.section {
    margin: 2rem auto;
    padding: var(--padding-2);
    background-color: var(--container-color);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
}






/* ===================================================== *
 * ======================== SETUP ====================== *
 * ===================================================== */
 .setup.section {
	width: 50%;
	margin: var(--mt-50) auto;
	padding: var(--padding-2);
	background-color: var(--container-color);
}

.setup h1 {
	font-size: var(--h2-font-size-alt);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
    text-align: center;
    margin-bottom: var(--mt-25);
}

.setup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.setup-form label {
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    margin-bottom: .5rem;
}

.setup-form input {
    width: 100%;
    padding: .8rem 1rem;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: border .3s ease, box-shadow .3s ease;
}

.setup-form input:focus {
    border-color: var(--first-color);
    box-shadow: 0 0 5px rgba(48, 85, 255, 0.3);
    outline: none;
}

.setup-form button {
    padding: .8rem 1rem;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

.setup-form button:hover {
    background-color: var(--second-color);
}

.setup .alert {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    font-size: var(--normal-font-size);
}

.setup .alert-success {
    background-color: var(--alert-success-color);
    color: #fff;
}

.setup .alert-error {
    background-color: var(--alert-danger-color);
    color: #fff;
}